USE [master]
GO
/****** Object:  Database [TPS_BD]    Script Date: 11/08/2025 9:48:45 a. m. ******/
CREATE DATABASE [TPS_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPS_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TPS_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPS_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TPS_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPS_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPS_BD]
GO
/****** Object:  User [tps]    Script Date: 11/08/2025 9:48:45 a. m. ******/
CREATE USER [tps] FOR LOGIN [tps] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Tarjeta]    Script Date: 11/08/2025 9:48:45 a. m. ******/
CREATE USER [Tarjeta] FOR LOGIN [Tarjeta] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/08/2025 9:48:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[cod_usuario] [int] NULL,
	[activo] [int] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOV_INVENTARIO]    Script Date: 11/08/2025 9:48:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV_INVENTARIO](
	[cod_prod] [int] NOT NULL,
	[inicial] [int] NULL,
	[final] [int] NULL,
 CONSTRAINT [PK_MOV_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[cod_prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENES]    Script Date: 11/08/2025 9:48:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENES](
	[cod_orden] [int] NOT NULL,
	[cod_cliente] [int] NULL,
	[cod_prod] [int] NULL,
	[cantidad] [int] NULL,
	[cod_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/08/2025 9:48:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[codigo] [int] NOT NULL,
	[descripcion] [varchar](255) NULL,
	[activo] [int] NULL,
	[cod_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/08/2025 9:48:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[cod] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[activo] [int] NULL,
	[cambio_pass_ini] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_USUARIO] FOREIGN KEY([cod_usuario])
REFERENCES [dbo].[USUARIO] ([cod])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_USUARIO]
GO
ALTER TABLE [dbo].[MOV_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_MOV_INVENTARIO_PRODUCTO] FOREIGN KEY([cod_prod])
REFERENCES [dbo].[PRODUCTO] ([codigo])
GO
ALTER TABLE [dbo].[MOV_INVENTARIO] CHECK CONSTRAINT [FK_MOV_INVENTARIO_PRODUCTO]
GO
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_CLIENTE] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[CLIENTE] ([cod])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_CLIENTE]
GO
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_PRODUCTO] FOREIGN KEY([cod_prod])
REFERENCES [dbo].[PRODUCTO] ([codigo])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_PRODUCTO]
GO
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_USUARIO] FOREIGN KEY([cod_usuario])
REFERENCES [dbo].[USUARIO] ([cod])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_USUARIO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_USUARIO] FOREIGN KEY([cod_usuario])
REFERENCES [dbo].[USUARIO] ([cod])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_USUARIO]
GO
USE [master]
GO
